body {
  background-image: url('../imgs/estac_mod1');
  background-position: right top;
  background-attachment: fixed;
}

body .container{
  padding-top: 20px;
  background-color: rgba(190,190,190,0.6);
  border-radius: 15px;
}

.table-bordered th,
.table-bordered td {
  border: 2px solid black !important;
  color: black;
  font-size: 18px;
}

header h1 {
  color: rgb(190,190,190);
  margin-left: 15px;
}
